@charset 'UTF-8';

/* 전체 Layout */
body {
    background: url(../img/header_bg.jpg) repeat-x top center; background-position: 0px -7px;
}
#wrap {
    width: 100%;
}
#header {
}
#main_nav {
    background: #f6fdff;
}
#sub_title {
    background: #ecfafd;
}
#contents {}
#footer{
    background: #e7e7e7;
    border-top: 1px solid #dbdbdb;
}


/* Container Layout */
.container {
    width: 1200px; margin: 0 auto;
    background: rgba(0,0,0,0.0);
}


/* header Layout */
.header {
    height: 300px;
}
/* header Layout - 1.header_nav */
.header .header_nav {}
.header .header_nav ul {
    text-align: right;
}
.header .header_nav ul li {
    display: inline-block; padding: 5px 0 0 5px;
}
.header .header_nav ul li a {
    color: white;
    font-size: 15px; font-family: 'Abel', sans-serif;
    transition: color 0.3s ease;
}
.header .header_nav ul li a:hover {
    color: #ccc;
}
/* header Layout - 2.header_nav */
.header .header_tit {
    text-align: center;
    font-family: 'Abel', sans-serif;
}
.header .header_tit h1 {
    width: 400px; margin: 0 auto;
    background: #51b0dc;
    color: white;
    font-size: 30px; letter-spacing: 2px;
    transition: box-shadow 0.4s ease-in-out 0.1s;
}
.header .header_tit h1:hover {
    box-shadow: 
        -200px 0 0 0 #257fac inset,
        200px 0 0 0 #257fac inset;
}
.header .header_tit a {
    background: #4a9abf;
    display: inline-block; padding: 2px 15px; margin-top: -5px;
    color: white;
    font-size: 18px; letter-spacing: 1.5px; text-transform: uppercase;
    transition: box-shadow 0.3s ease-in-out;
}
.header .header_tit a:hover {
    box-shadow:
        0 0 0 5px rgba(75, 154, 191, 0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
}
/* header Layout - 3.header_icon */
.header .header_icon {}
.header .header_icon ul {
    text-align: center;
}
.header .header_icon ul li {
    display: inline;
    margin: 0 2px;
}
.header .header_icon ul li a {
    display: inline-block; width: 60px; height: 60px; border-radius: 50%;
    font-size: 35px; color: white; background-color: #3192bf; line-height: 60px;
    position: relative;
}
.header .header_icon ul li a i {}
.header .header_icon ul li a span {
    opacity: 0;
    position: absolute; top: -40px; left: 50%; transform: translateX(-50%);
    font-size: 13px; line-height: 1.6;
    background-color: #3192bf;
    padding: 2px 6px;
    border-radius: 6px 0;
    transition: all 0.3s ease-out;
}
.header .header_icon ul li a span::after {
    content: '';
    position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%);
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.header .header_icon ul li a:hover {
    box-shadow: 
        0 0 0 5px rgba(75, 154, 191, 0.9) inset,
        0 0 0 100px rgba(0, 0, 0, 0.1) inset;     
}
.header .header_icon ul li a:hover span {
    opacity: 1;
    top: -33px;
}


/* main_nav [전체 메뉴] layout */
.main_nav {
    display: none;
    overflow: hidden;
    padding: 20px 0;
}
.main_nav div {
    width: 40%; float: left;
}
.main_nav div:last-child {width: 20%;}
.main_nav div h3 {
    font-size: 15px; color: #3192bf; font-weight: 600;
    margin-bottom: 5px;
}
.main_nav div ol {overflow: hidden;}
.main_nav div ol li {
    width: 50%; float: left;
    padding-left: 15px; box-sizing: border-box;
    position: relative;
}
.main_nav div ol li::before {
    content: '';
    position: absolute; left: 4px; top: 7px;
    width: 4px; height: 4px; border-radius: 50%;
    background-color: #3192bf;
}
.main_nav div:last-child ol li {
    width: 100%;
}
.main_nav div ol li a {
    position: relative;
}
.main_nav div ol li a::after {
    content: '';
    position: absolute; left: 0; bottom: 0;
    width: 0%; height: 1px; 
    background-color: #3192bf;
    transition: width 0.3s ease-out;
}
.main_nav div ol li a:hover::after {
    width: 100%;
}


/* sub_title layout */
.sub_title {
    position: relative;
}
.sub_title h3 {
    text-align: center;
    font-size: 39px; color: #3192bf;
    font-family: 'Nanum Brush Script', cursive;
    padding: 15px 0;
}
.sub_title a.nav_btn {
    position: absolute; top: 13px; right: 0;
    display: inline-block;
    width: 60px; height: 60px; border-radius: 50%; background-color: #3192bf;
    font-size: 40px; line-height: 60px; color: white; text-align: center;
    transition: box-shadow 0.3s ease;
}
.sub_title a.nav_btn:hover {
    box-shadow: 
        0 0 0 5px #629bb6 inset,
        0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}


/* contents [메인 컨텐츠] layout */
.contents {
    overflow: hidden;
    position: relative;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}
.contents .content_left {
    width: 240px; float: left;
}
.contents .content_center {
    overflow: hidden;
    margin-right: 240px;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}
.contents .content_center .col3 {
    height: 1115px;
}
.contents .content_right {
    width: 240px;
    position: absolute; top: 0; right: 0;
}
.contents .column {
    padding: 15px 15px;
    border-bottom: 1px solid #dbdbdb;
}
.contents .column .col_tit {
    font-size: 20px; color: #2f7fa6; padding-bottom: 5px;
}
.contents .column .col_desc {
    border-bottom: 1px dashed #dbdbdb;
    padding-bottom: 15px; margin-bottom: 15px;
    color: #878787; line-height: 18px;
}
.contents .column.col3 {
    border-bottom: 0;
}

/* contents1 - menu layout */
.content_left .col1 .menu {}
.content_left .col1 .menu ul {}
.content_left .col1 .menu ul li {}
.content_left .col1 .menu ul li a {
    display: block;
    position: relative;
    border-bottom: 1px solid #dbdbdb; padding: 10px;
    color: #878787; line-height: 30px; font-size: 15px;
    transition: box-shadow 0.35s ease;
}
.content_left .col1 .menu ul li a:hover {
    box-shadow: 
        210px 0 0 rgba(75, 154, 191) inset;
    color: white;
}
.content_left .col1 .menu ul li a span {
    position: absolute; right: 10px;
}


/* contents2 - 한줄, 두줄 효과 */
.content_left .col2 .notice {position: relative;}
.content_left .col2 .notice h5 {
    font-size: 15px; color: #2f7fa6;
    padding-bottom: 3px;
}
.content_left .col2 .notice .more_btn {
    font-size: 12px; color: #878787;
    position: absolute; top: 3px; right: 5px;
}
.content_left .col2 .notice ul {}
.content_left .col2 .notice ul li {
    position: relative;
    padding-left: 10px;
    box-sizing: border-box;
}
.content_left .col2 .notice ul a::before {
    content: '';
    position: absolute; left: 1px; top: 7px;
    width: 4px; height: 4px; border-radius: 50%;
    background-color: #3192bf;
}

/* notice 1 */
.content_left .col2 .notice1 ul a { 
    display: block;
    width: 100%;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

/* notice 2 */
.content_left .col2 .notice2 ul a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; text-overflow: ellipsis;
    min-height: 40px; /* for ie */
}

/* contents3 - 고해상도 이미지 Blog 1 */
.content_left .col3 .blog1 .img_retina {display: none;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 1.5dppx) {
           .content_left .col3 .blog1 .img_retina {display: initial;}
           .content_left .col3 .blog1 .img_normal {display: none;}
}


/* contents3 - 고해상도 이미지 Blog 2 */
.content_left .col3 .blog2 {}
.content_left .col3 .blog2 h5 {color: #fff; text-align: center; padding: 30px 30px; text-transform: uppercase;}
.content_left .col3 .blog2 p {padding-top: 5px;}
.content_left .col3 .blog2 .img_retina {
    background-image: url('../img/blog4_@1.jpg');
    background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2),
       only screen and (min-resolution: 2dppx) {
        .content_left .col3 .blog2 .img_retina {
            background-image: url('../img/blog4_@2.jpg');
            background-size: cover;
        }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
       only screen and (min-device-pixel-ratio: 3),
       only screen and (min-resolution: 3dppx) {
        .content_left .col3 .blog2 .img_retina {
            background-image: url('../img/blog4_@3.jpg');
            background-size: cover;
        }
}

/* contents4 - slick slider */
.content_center .col1 .img_slider {}
.content_center .col1 .img_slider figure {position: relative;}
.content_center .col1 .img_slider figcaption {
    display: block; width: 100%;
    position: absolute; bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.6);
    padding: 15px 0 20px 5%; box-sizing: border-box;
    color: #fff;
}
.content_center .col1 .img_slider figcaption em {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease 0.2s, transform 1s ease 0.2s;
    text-transform: uppercase; font-size: 30px; letter-spacing: 0px; font-family: 'Abel', sans-serif;
    padding-bottom: 10px;
}
.content_center .col1 .img_slider figcaption p {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease 0.2s, transform 1s ease 0.2s;
    font-size: 18px;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.content_center .col1 .img_slider .slick-active figcaption em, .content_center .col1 .img_slider .slick-active figcaption p {
    opacity: 1;
    transform: translateX(0);
}

.img_slider .slick-dots {
    display: block; width: 100%; text-align: center;
}
.img_slider .slick-dots li {
    display: inline-block; width: 15px; height: 15px; margin: 5px;
}
.img_slider .slick-dots li button {
    font-size: 0; line-height: 0;
    display: block; width: 15px; height: 15px; border-radius: 50%;
    cursor: pointer;
    background: #5dbfeb;
}
.img_slider .slick-dots li.slick-active button {background: #2b91c8;}

.img_slider .slick-arrow {
    position: absolute; bottom: 0; z-index: 1000;
    display: inline-block; width: 30px; height: 30px;
    font: normal normal normal 0px/1 FontAwesome;
    background: #fff;
}
.img_slider .slick-arrow.slick-prev {
    left: 0;
}
.img_slider .slick-arrow.slick-prev::before {
    content: "\f053";
    color: #5dbfeb;
    font-size: 14px;
}
.img_slider .slick-arrow.slick-next {
    right: 0;
}
.img_slider .slick-arrow.slick-next::before {
    content: "\f054";
    color: #5dbfeb;
    font-size: 14px;
}

/* footer [푸터] layout */
.footer {}


/* media query */
/* 화면 너비 0~1200px */
@media (max-width: 1220px){
    /* 반응형을 위한 container & row 설정 */
    .container {width: 100%;}
    .row {padding: 0 15px;}
    
    /* contents border 제거 -> scroll bar 안생기게 */
    .contents {border: 0;}
}

/* 화면 너비 0~1024px */
@media (max-width: 1024px){
}

/* 화면 너비 0~960px */
@media (max-width: 960px){
    /* 반응형 nav layout 설정 */
    .main_nav div, .main_nav div:last-child {
        width: 100%;
    }
    .main_nav div ol li, .main_nav div:last-child ol li {
        width: 33.3%;
    }
    .main_nav div ol {
        margin-bottom: 15px;
    }

    /* 반응형 contents layout 설정 */
    .contents .content_center {
        margin-right: 0;
        border-right: 0;
    }
    .contents .content_right {
        width: 100%;
        position: static;
    }

    /* 반응형 menu layout 설정 */
    .contents .content_left .column.col3, .contents .content_center .column.col3 {
        border-bottom: 1px solid #dbdbdb;
    }
}

/* 화면 너비 0~768px */
@media (max-width: 768px){
    /* 반응형 contents layout 설정 */
    .contents .content_left {width: 100%;}
    .contents .content_center {width: 100%; border-left: 0;}

    /* 반응형 menu layout 설정 */
    .content_left .col1 .menu ul li a {
        transition: box-shadow 0.5s ease;
    }
    .content_left .col1 .menu ul li a:hover {
        box-shadow: 
            760px 0 0 rgba(75, 154, 191) inset;
        color: white;
    }
}

/* 화면 너비 0~600px */
@media (max-width: 600px){

    /* 반응형 header layout 설정 */
    .header {height: auto;}
    .header .header_icon {display: none;}
    .header .header_tit {display: none;}
    .sub_title a.nav_btn {display: none;}

    /* 반응형 nav layout 설정 */
    .main_nav div ol li, .main_nav div:last-child ol li {
        width: 50%;
    }

    /* 반응형 contents layout 설정 */
    .contents .content_left .column.col1 {height: auto;}
    .contents .content_left .column.col1 .col_tit {display: none;}
    .contents .content_left .column.col1 .col_desc {display: none;}
    .content_left .col1 .menu ul {
        overflow: hidden;
        text-align: center;
        border-bottom: 1px solid #dbdbdb;
    }
    .content_left .col1 .menu ul li {
        float: left; width: 33.3%;
    }
    .content_left .col1 .menu ul li a {
        color: white;
        border: 1px solid #dbdbdb;
        margin-bottom: -1px; margin-right: -1px;
        transition: background-color 0.5s ease;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    }
    .content_left .col1 .menu ul li:nth-child(3n) a {
        margin-right: 0;
    }
    .content_left .col1 .menu ul li a:hover {
        background-color: rgb(97, 155, 182);
    }
    .content_left .col1 .menu ul li a span {display: none;}

    /* IMG_SLIDER 글씨 크기 조절 */
    .content_center .col1 .img_slider .slider_img_desc em {
        font-size: 25px;
    }
    .content_center .col1 .img_slider .slider_img_desc p {
        font-size: 15px;
    }
}

/* 화면 너비 0~480px */
@media (max-width: 480px){
    /* IMG_SLIDER 글씨 크기 조절 */
    .content_center .col1 .img_slider .slider_img_desc em {
        font-size: 20px;
    }
    .content_center .col1 .img_slider .slider_img_desc p {
        font-size: 10px;
    }
}

/* 화면 너비 0~320px */
@media (max-width: 320px){
}